// Header Styling
//

// Top Header Menu
.menu--header-menu {
  width: 100%;
}

.header__menu--top {
  background-color: $top-header-bg;
  padding: 0.5rem;
  font-size: $font-size-sm;
}

.header__menu-items--top {
  @include media-breakpoint-up(sm) {
    display: flex;
    justify-content: flex-end;
    text-align: left;
  }
  margin: 0 auto;
  padding: 0;
  list-style: none;
  text-align: center;

}

.header__menu-item--top {
  @include media-breakpoint-up(sm) {
    margin: 0 1rem;
  }
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.header__menu-icon--top {
  svg {
    fill: $white;
  }
}

.header__menu-link--top {
  color: $white;

  &:hover,
  &:focus {
    color: $white;
  }
}

// Site Branding
.header__branding {
  @include media-breakpoint-up(lg) {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  padding-top: 1rem;
  padding-bottom: 1rem;

  .header__search {
    @include media-breakpoint-up(lg) {
      display: block;
    }
    display: none;
  }
}

.header__branding-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-image {
  width: 100%;
  height: auto;
}

// Search Bar
.header__search {
  .block-views-exposed-filter-blocksite-search-page-1 {
    .js-form-item-created-min,
    .js-form-item-created-max {
      display: none;
    }
  }

  // sass-lint:disable id-name-format, no-ids
  #views-exposed-form-site-search-page-1 {
    position: relative;
  }
  // sass-lint:enable id-name-format, no-ids

  .form-item-search-api-fulltext {
    label {
      @include sr-only;
    }

    input {
      @extend %search__input;
      @include media-breakpoint-up(lg) {
        min-width: 530px;
      }
    }
  }

  .form-actions {
    position: absolute;
    top: 5px;
    right: 3px;
  }
}

// Main Menu - Desktop
.header__content {
  @include media-breakpoint-up(lg) {
    display: block;
  }
  display: none;
}

.header__menu {
  position: relative;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.header__menu-items {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  list-style: none;

  > .header__menu-item {
    border-right: 1px solid $border-color;

    &:first-child {
      border-left: 1px solid $border-color;
    }

    > .header__menu-link {
      display: inline-block;
      position: relative;
      transform: perspective(1px) translateZ(0);
      border-bottom: 0;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0);
      padding: 1.25rem 1.5rem;
      overflow: hidden;
      vertical-align: middle;
      text-transform: uppercase;
      line-height: 1.125;
      color: $header-menu-link;
      font-weight: $font-weight-bold;

      &:before {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        transform: translateY(-4px);
        z-index: -1;
        background: $header-menu-link-active;
        height: 4px;
        content: '';
        transition-property: transform;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
      }

      &:hover,
      &:focus,
      &.active {
        &:before {
          transform: translateY(0);
        }
      }
    }
  }
}

.header__menu-link {
  border-bottom: 3px solid transparent;
  color: $black;
  font-size: $font-size-sm;

  &:hover,
  &:focus,
  &.active {
    border-bottom-color: $header-menu-link-active;
    text-decoration: none;
    color: $black;
  }

  &:focus {
    outline-color: $header-menu-link-active;
  }
}

.header__submenu-items {
  display: none;
  position: absolute;
  left: 0;
  z-index: 15;
  border-top: 1px solid $border-color;
  box-shadow: 0 12px 12px 1px rgba(0, 0, 0, 0.2);
  background-color: $white;
  padding: 1rem;
  width: 100%;
  list-style: none;

  &.active {
    display: flex;
    justify-content: center;
  }

  > .header__menu-item {
    @include media-breakpoint-up(xl) {
      margin-right: 1rem;
      border-right: 1px solid $border-color;
      max-width: 250px;
    }
    margin-bottom: 0.25rem;
    padding: 0 0.5rem;

    &:last-child {
      border-right: 0;
    }
  }
}

.header__menu-items--column {
  padding: 0;
  list-style: none;
}

// Main Menu - Mobile
.header__btn--mobile {
  @include media-breakpoint-up(lg) {
    display: none;
  }

  .header__btn {
    border: 0;
    background: none;
    padding: 0;
  }

  .header__btn-icon {
    display: none;

    &.active {
      display: block;
    }

    &:hover,
    &:focus {
      color: $header-btn-active;
    }

    &:focus {
      outline-color: $header-btn-active;
    }

    svg {
      width: 40px;
      height: 40px;
    }
  }
}

.header__content--mobile {
  @include media-breakpoint-up(md) {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  display: none;
  padding: 1rem;

  &.active {
    @include media-breakpoint-up(lg) {
      display: none;
    }
    display: block;
  }
}

.header__menu-items--mobile {
  margin: 0;
  padding-left: 0;
  list-style: none;

  .header__menu-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__menu-item--expanded {
    margin-bottom: 0.5rem;

    > .header__menu-content {
      > .header__menu-link {
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
      }
    }

    .header__menu-items--mobile {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .header__menu-link {
    display: inline-block;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }
}

.header__menu-icon {
  display: none;
  border: 1px solid $header-icon;
  padding: 4px 8px;
  color: $black;

  &:hover,
  &:focus {
    background-color: $header-icon;
    color: $black;
  }

  &:focus {
    outline-color: $header-icon;
  }

  &.active {
    display: inline-block;
  }

  svg {
    width: 20px;
    height: 20px;
    vertical-align: -5px;
  }
}
