{{ attach_library('makeavent/header') }}

<header class="header" role="banner" aria-label="{{ 'Site Header'|t }}">
  <div class="d-flex justify-content-between align-items-center px-5 py-3">
    <a class="header__logo" href="/" title="MakeAVent.com">
      <img class="header__logo-image" src="/themes/custom/makeavent/dist/images/makeavent.png" alt="MakeAVent.com Logo" width="223">
    </a>
    {% if page.header %}
      {{ page.header }}
    {% endif %}
  </div>
</header>
