<p>{{ items.button|raw }}</p>

<p>{{ items.form }}</p>

<details class="container-inline js-form-wrapper form-wrapper" >    
    <summary role="button" aria-controls="edit-filters" aria-expanded="false" aria-pressed="false">Phone applications</summary>
    <div class="details-wrapper">

        <p><a href="https://jitsi.org/" target="_blank">Built with Jitsi</a></p>

        <p style="text-align: left;">
            <a href="https://itunes.apple.com/us/app/jitsi-meet/id1165103905" target="_blank">
                <img src="https://335wvf48o1332cksy23mw1pj-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/appstore-badge-300x101.png" alt="" width="100" height="50" srcset="https://335wvf48o1332cksy23mw1pj-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/appstore-badge-300x101.png 300w, https://335wvf48o1332cksy23mw1pj-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/appstore-badge.png 498w" sizes="(max-width: 149px) 100vw, 149px" /></a></p>

        <p style="text-align: left;">
            <a href="https://play.google.com/store/apps/details?id=org.jitsi.meet" target="_blank">
                <img src="https://335wvf48o1332cksy23mw1pj-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/google-play-badge-300x89.png" alt="" width="100" height="50" srcset="https://335wvf48o1332cksy23mw1pj-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/google-play-badge-300x89.png 300w, https://335wvf48o1332cksy23mw1pj-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/google-play-badge.png 563w" sizes="(max-width: 169px) 100vw, 169px" /></a></p>

        <p style="text-align: left;">
            <a href="https://f-droid.org/en/packages/org.jitsi.meet/" target="_blank">
                <img src="https://335wvf48o1332cksy23mw1pj-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/f-droid-badge-300x89.png" alt="" width="100" height="50" srcset="https://335wvf48o1332cksy23mw1pj-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/f-droid-badge-300x89.png 300w, https://335wvf48o1332cksy23mw1pj-wpengine.netdna-ssl.com/wp-content/uploads/2019/11/f-droid-badge.png 563w" sizes="(max-width: 169px) 100vw, 169px" /></a></p>

    </div>
</details>

