Welcome to MakeAVent ... Finally

{#{% extends '@layout/base/base.html.twig' %}#}

{#{% block main %}#}
{#  <main class="layout-content layout-content--no-padding" id="main-content" role="main" tabindex="-1">#}
{#    {% block body %}#}
{#      {% if logged_in %}#}
{#        <div class="container">{{ page.content|without('louisvilleky_content') }}</div>#}
{#      {% endif %}#}

{#      {{ page.content.louisvilleky_content }}#}
{#    {% endblock %}#}
{#  </main>#}
{#{% endblock %}#}
